
.navbar {
    overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  border-bottom: 3px solid black;
}

.navbar a.active {
  border-bottom: 3px solid black;
}
.navbar_centered {
  float: none;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
